:root {
  --primary-white: #f8f8f8;
  --secondary-wite: #fcfcfc;
  --primary-black: #121417;
  --logo-accent: #f0d507;
  --black-for-text: rgba(18, 20, 23, 0.8);
  --input-border-color: rgba(18, 20, 23, 0.1);
  --error-color: #d80027;
  --grey-modal: rgba(133, 170, 159, 0.1);
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: var(--primary-black);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'),
    url(./assets/fonts/Roboto-Regular.ttf) format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url(./assets/fonts/Roboto-Medium.ttf) format('truetype');

  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url(./assets/fonts/Roboto-Bold.ttf) format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url(./assets/fonts/Roboto-Italic.ttf) format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ol,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
}

@media screen and (min-width: 376px) {
  .container {
    width: 344px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 420px) {
  .container {
    width: 388px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 480px) {
  .container {
    width: 428px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 704px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1216px;
  }
}
